# File handling :
1. create
2. write
3. reading
4. appending
5. renaming
6. removing

In [1]:
import os
os.rename("sample.txt","demo.txt")

In [2]:
os.remove("demo.txt")

In [ ]:
import os
os.mkdir("python")
for i in range(5): #for creating 5 files
    file_name = " "#creating a file name
    f = open("c://python//filename","a")#creates a file with the given name
    for i in range (512):#adding content
        f.write("character")

### Tuple:
1. Immutable(changes are not allowed)
2. using ( ) elements are seperated by , 
3. Indexed,Ordered

In [5]:
# tuple
tup1 = (62,32,4,5,34,23.5,"abc",True)
print(type(tup1))

<class 'tuple'>

In [6]:
print(tup1[2])
print(tup1[-1])

4
True

In [10]:
list1 = list(tup1)
list1[2] = 100
tup1 = tuple(l)
tup1

(62, 32, 100, 5, 34, 23.5, 'abc', True)

### Built-in-methods:
1. count()
2. index()

In [13]:
print(tup1.count(32))
print(tup1.index(32))

1
1

In [14]:
#Unpacking
tup2 = (12,234,4,345)
a,b,c,d = tup2
print(d)

345

In [16]:
#packing
x = 10,20,30
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [17]:
#Tuple with single element
y = (10,)
print(type(y))

<class 'tuple'>

### set:
1. { }
2. Does not allow duplicate values
3. Not ordered
4. unindexed
5. Mutable

In [23]:
set1 = {1,2,34,334,6,5,2,1}
print(set1)

{1, 2, 34, 5, 6, 334}

In [22]:
for ele in set1:
    print(ele)

1
2
34
5
6
565

### Built-in functions:
1. len()
2. min()
3. max()
4. set()

In [24]:
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{1, 2, 34, 5, 6, 334}
6
1
334

In [25]:
# Reoving duplicates from the list
list1 = [1,2,3,4,5,1,2,3]
list1 = set(list1)
list1

{1, 2, 3, 4, 5}

### Built-in methods:
1. add() --> to add
### Removing an element
2. pop()
3. discard()
3. remove()

In [5]:
set2 = set()
print(type(set2))

<class 'set'>

In [6]:
set2.add(12)
set2.add(23)
set2.add(100)
set2

{12, 23, 100}

In [7]:
set2.pop()

100

In [8]:
set2.remove(12)

In [9]:
set2

{23}

In [10]:
set2.discard(23)

In [11]:
set2

set()

In [13]:
# union,diff,intersection,subset,superset,disjoint
A = {1,2,3,4,5}
B = {3,4,5,6,7}
#union a U b ==>{1,2,3,4,5,6,7}
print(A.union(B))

#A - B ==>{1,2}
#B - A ==>{6,7}
print(A.difference(B))#A-B
print(B.difference(A))#B-A

# intersection A and B ==> {3,4,5}
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [16]:
#subset,super set,disjoint
#symmetric difference
C = {1,2,3,4,5,6,7,8,9,10}
print(A.issubset(C))#True
print(A.issubset(B))#False
print(C.issuperset(A))#True
print(C.issuperset(B))#True

True
False
True
True

In [15]:
#disjoint
X = {1,2}
Y = {23,34,45}
print(A.isdisjoint(B))#False
print(X.isdisjoint(Y))#True

False
True

In [19]:
#Symmetric difference ==> (A-B U B-A)
print(A.symmetric_difference(B))
print(A)
print(B)

{1, 2, 6, 7}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [24]:
A.update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [22]:
A.intersection_update(B)
print(A)
print(B)

{3, 4, 5}
{3, 4, 5, 6, 7}

In [23]:
A.difference_update(B)
print(A)
print(B)

set()
{3, 4, 5, 6, 7}

### Dictionary:

```dictionary name = {key1:value1,key2:key2,.......}```

#### Rules :
1. Keys should be unique
2. Keys should ne immutable (example: numerics,strings,tuple)

In [31]:
#creating a dictionary
dict1 = {"name":"swathi","emp id":1234,"address":"srcl","emp id":12}
print(dict1)

{'name': 'swathi', 'emp id': 12, 'address': 'srcl'}

In [32]:
#Extracting an element
print(dict1["emp id"])

12

In [34]:
#Removing or deleting an entry
del dict1["address"]
print(dict1)

{'name': 'swathi', 'emp id': 12}

In [35]:
#Adding an entry
dict1["course"] = "python"
print(dict1)

{'name': 'swathi', 'emp id': 12, 'course': 'python'}

### Built-in methods:
1. Keys()
2. values()
3. items()
4. get()
5. update()
6. pop()
7. popitem()

In [36]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'emp id', 'course'])
dict_values(['swathi', 12, 'python'])
dict_items([('name', 'swathi'), ('emp id', 12), ('course', 'python')])

In [37]:
#Adding an entry
dict1["address"] = "hyd"
dict1

{'name': 'swathi', 'emp id': 12, 'course': 'python', 'address': 'hyd'}

In [38]:
d={1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'swathi', 'emp id': 12, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}