In [2]:
#Loop control statement : break
for i in range(1,11):
    if i % 5 == 0:
        break
    else:
            print(i)

1
2
3
4

In [3]:
#Loop control statement : continue
for i in range(1,11):
    if i % 5 == 0:
        continue
    else:
            print(i)

1
2
3
4
6
7
8
9

In [6]:
# username : python
# password : abc123
while True:
    username=input("enter your username: ")
    if username == "python":
        password=input("enter your password: ")
        if password =="abc123":
            print("Login success!!")
            break
    else:
        continue

enter your username: sjdghjsdg
enter your username: python
enter your password: abc234
enter your username: python
enter your password: abc123
Login success!!

In [7]:
#pass -->for creating empty blocks
if 12<34:
    pass    
else:
    print("else")

### Functions:
block of statements
1. predefined(which are already defined)
   - len(),print(),input(),min()
2. user defined(custom function)

```def function_name(parameter list):
          statements
          return```

In [8]:
def name(username):
    print("Hello",username)
    
name("yogitha")#function calling

Hello yogitha

In [9]:
def addition(a,b):
    return a+b

print(addition(10,20))
print(addition(100,200))
print(addition(10,20))

30

In [10]:
def arithmetic
(a,b):
    return a+b,a-b,a*b,a/b
add,sub,mul,div = addition(10,20)
print(mul)

200

### Different types of Arguments

In [11]:
#default argument
#default argument should be at end of arg list
def add(a,b=100):
    return a+b

print(add(100))
print(add(200,200))

200
400

In [12]:
a = int(input("enter a value"))
b = int(input("enter b value"))
add(a,b)

enter a value22
enter b value43

65

In [16]:
#variable length arguments
def add(*a):
    return sum(a)

print(add(10,20))
print(add(10,20,30))
print(add(10,20,30,40))

30
60
100

In [19]:
# nested functions : square,cube
def square(a):
    return a*a

def cube(x):
    square(x)*x

print(square(10))
print(cube(10))

100
None

### Recursive Function:

1. Factorial of a number
2. Fibonacci series

### Data structures
1. List :
   -  [] elements are seperated by ,
   - Indexed
   - Ordered
   - Duplicate values
   - Mutable
   - Any type of values

In [20]:
list1 = [22,22.4,True,"abc"]
print(type(list1))

<class 'list'>

In [23]:
#operators supported by list : +,*,[],[:],in not in
list1 = [1,2,3]
list2 = [10,20,30]
print(list1+list2) #concatination
print(list1*3) #Repitition
print(list1[1]) #2
print(list1[1:3]) #[1,2]
print(2 in list1) #True
print(2 not in list1) #True

[1, 2, 3, 10, 20, 30]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
2
[2, 3]
True
False

In [29]:
#Built-in function : len(),min(),max(),list()
list1 = [1,2,3,40]
s1 = "python"
print(len(list1))
print(min(list1))
print(max(list1))
list2 = list(s1)
print(list2)
list1[-1] = 100
print(list1)

4
1
40
['p', 'y', 't', 'h', 'o', 'n']
[1, 2, 3, 100]